/* configurações Gerais */
body
{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

textarea {
    resize: none;
    border: none;
}

textarea:focus {
    outline: none;
}

strong {
    font-weight: bold;
}

/*Flex*/
.top,
.container,
.userQuizzes,
.none,
.first-step,
.start,
.quizzCreation,
.question,
.second-step
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Flex-direction column*/

.container,
.userQuizzes,
.none,
.first-step,
.start,
.quizzCreation,
.question,
.second-step
{
    flex-direction: column;
}

/* Configurações Topo */
.top
{
    background-color: #EC362D;
    color: aliceblue;
    font-size: 2em;
    font-weight: 700;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    z-index: 2;
}

/* Configurações do container */

.container,
.quizzCreation
{
    margin: 50px auto;
    width: 1100px;
}

.userQuizzes
{
    border: 2px dashed #d4d4d4;
    border-radius: 10px;
    width: 100%;
    height: 10em;
    margin: 60px 60px;
}

.noneQuizzes
{
    color: #B9B9B9;
    width: 250px;
    text-align: center;
    margin: 10px;
}
.createQuizz
{
    margin: 10px;
    color: #EC362D;
    border: 1px dashed #EC362D;
    border-radius: 100px;
    padding: 5px 20px;
}
.allQuizzes
{
    width: 100%;
    height: 500px;
    border: solid 1px red;
}
.allTitle
{
    font-weight: 700;
}

.start,
.second-step  {
    margin: 60px;
    max-width: 600px;
    width: 100%;
}

.start strong {
    margin-bottom: 40px;
    font-size: 20px;
}

.start button,
.second-step button {
    font-size: 16px;
    margin-top: 50px;
    color: white;
    background-color: red;
    border: none;
    max-width: 350px;
    width: 100%;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.first-step,
.question {
    width: 100%;
    background-color: white;
    padding: 20px 30px;
    box-shadow: 1px 1px 10px rgba(0,0,0 , 0.05) ;
}

.first-step textarea:last-child {
    margin-bottom: 0;
}

.question {
    margin-top: 50px;
    align-items: start;
    position: relative;
}

.question strong {
    display: block;
    margin: 10px 0 20px;
}

.pop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    width: 100%;
}

.pop strong{
    margin-bottom: 10px;
}

ion-icon {
    font-size: 30px;
}

.first-step textarea,
.question textarea {
    font-style: italic;
    width: 100%;
    margin: 0 auto 10px auto;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
    padding-left: 10px;
    opacity: 0.5;
    line-height: 34px;
}

.questionsCreation {
    width: 100%;
}

.hidden {
    display: none;
}


@media (max-width: 1100px)
{
    .container,
    .quizzCreation
    {
        width: 90%;
    }
}